
enviro ICON "icons/Enviro.ico"
#include "wx/msw/wx.rc"

axes	    BITMAP "bitmap/axes.bmp"
camera		BITMAP "bitmap/camera.bmp"
distance	BITMAP "bitmap/distance.bmp"
faster	    BITMAP "bitmap/faster.bmp"
fence		BITMAP "bitmap/fence.bmp"
instances	BITMAP "bitmap/instances.bmp"
layers		BITMAP "bitmap/layers.bmp"
loc			BITMAP "bitmap/loc.bmp"
maintain	BITMAP "bitmap/maintain.bmp"
move		BITMAP "bitmap/move.bmp"
nav			BITMAP "bitmap/nav.bmp"
nav_fast	BITMAP "bitmap/nav_fast.bmp"
nav_slow	BITMAP "bitmap/nav_slow.bmp"
nav_set		BITMAP "bitmap/nav_set.bmp"
navroute    BITMAP "bitmap/navroute.bmp"
points		BITMAP "bitmap/points.bmp"
route       BITMAP "bitmap/route.bmp"
select		BITMAP "bitmap/select.bmp"
sgraph		BITMAP "bitmap/sgraph.bmp"
snap	    BITMAP "bitmap/snap.bmp"
snap_num    BITMAP "bitmap/snap_num.bmp"
space		BITMAP "bitmap/space.bmp"
stop	    BITMAP "bitmap/stop.bmp"
sun			BITMAP "bitmap/sun.bmp"
terrain		BITMAP "bitmap/terrain.bmp"
time	    BITMAP "bitmap/time.bmp"
tilt	    BITMAP "bitmap/tilt.bmp"
tree		BITMAP "bitmap/tree.bmp"
unfold	    BITMAP "bitmap/unfold.bmp"

icon1   ICON "icons/camera.ico"
icon2   ICON "icons/engine.ico"
icon3   ICON "icons/geom.ico"
icon4   ICON "icons/group.ico"
icon5   ICON "icons/light.ico"
icon6   ICON "icons/lod.ico"
icon7   ICON "icons/mesh.ico"
icon8   ICON "icons/top.ico"
icon9   ICON "icons/unknown.ico"
icon10  ICON "icons/xform.ico"
